*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
p{
    text-align: justify;
}

#header{
    width: 100%;
    height:100vh;
    /* background-image: url(images/bgimages.jpg); */
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 100vw;
    background-color: #000000;
    position: fixed;
    margin-top: -1.2rem;
}

.deepak{
    width:120px;
    height: 10rem;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 20px;
}


nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;

}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top:20%;
    font-size:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 60px;
    margin-top: 20px;
    text-align: center;
}
.header-text h1 span{
    color:#ff004f;
}
.header-text p span{
    color:#ff004f;
}


#about{
    padding:80px 0;
    height: 100vh;
    color:#ababab;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

@media (max-width:992px) {
    .row{
        display: block;

    }
}


.about-col-1 img{
    width:100%;
    border-radius:15px;
}
.about-col-2{
    /* display:flex; */
    flex-basis:60%;
    height:100px;
    

}
.about-col-2 p span{
    color:#ff004f;
}

.sub-title{
    font-size:60px;
    font-weight:600;
    color:#fff;
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width:0%;
    height:3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width: 50%;
    }
.tab-contents ul li span{
    color:red;
    font-size:14px;
}




.maincontent{
    display: flex;
    gap: 2rem;
    margin-left: 5vw;
    margin-top: 4rem;
}


#contact{
     /* margin-top:2rem;  */
    padding:2rem;    
    width:100vh;
    height:100vh;  
    justify-content: center;

}

div.right{
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
}

input{
    width: 50vw;
    height: 40px;
    margin-top: 2rem;
    border-radius: 5px;
    padding-left: 15px;
}

.message{
    height: 10rem;
}

button{
    margin-top: 1.5rem;
    padding: 10px;
    font-size: 20px;
    width: 100px;
}
button:active{
    background-color: rgb(0, 136, 255);
}

h1.ctc{
    margin-left: 9rem;
}